.container{
    position: relative;
}
.container>div{
    position: relative;

    color: black;
    
    display: flex;
    align-items: center;
    gap: 1rem;
    
    margin-right: 2rem;
    padding-inline: 1rem;
    /* padding-block: 0.5rem; */

    cursor: pointer;

}

.container>div:hover{
    background-color: whitesmoke;
}

.profile_circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(64, 64, 234);
    overflow: hidden;
}

.pop_up{
    display: none;

    position: absolute;
    top: 100%;
    /* bottom: 0; */
    right: 3%;

    width: min(20rem, 90%);
    height: 15rem;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.3);

    cursor: auto;
}

@media only screen and (max-width : 768px) {
    .container>div{
        margin: 0;
        padding-inline: 0;
    }
    
}