.container{
    position: relative;
    height: 190px;
}
.calender_girl{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
}
.hero_background{
    width: 98%;
    position: absolute;
    background-color: #FAB800;
    right: 0;
    top: 20px;
    border-radius: 10px;
    z-index: -1;


    font-size: 1.5rem;
    color: white;
    line-height: 1.8rem;
    padding-left: 4rem;
    padding-block: 3rem;

    overflow: hidden;
}

.hero_background>span{
    position: relative;
}

.hero_background>span>img{
    position: absolute;
    top: -2rem;
    z-index: -1;
    left: 0;
    max-width: none;
    width: 100px;

}

.stars{
    width: 100px;
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
}

@media only screen and (max-width : 1200px) {
    .calender_girl{
        width: 150px;
    }
    .clock{
        width: 70px;
        top: 60%;
        left: 60%;
    }
    
}
@media only screen and (max-width : 1000px) {
    .clock, .calender_girl{
        display: none;
    }
}
@media only screen and (max-width : 768px) {
    .hero_background{
        width: 100%;
        border-radius: unset;
    }
}