.allNavContent{
    display: flex;
    align-items: center;
    width: 100%;
}
.navBarContent{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.6s ease;
}
.navLogo{
    opacity: 1;
    transition: 300ms ease;
}

.bar{
    top: 100px;
    left: 10px;
    right: 10px;
    position: absolute;
    /* width: 90%; */
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: 350ms ease;
    
}
.elements{
    transition: 0.5s;
}

.drawerHead{
    margin: auto!important;
}
.sidebarBtn{
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
    margin: auto;
    justify-content: flex-start;
}

@media only screen and (max-width : 768px) {
    .view1{
        display : none;
    }
}

