.allNavContent{
    display: flex;
    align-items: center;
    width: 100%;
}
.navBarContent{
    display: flex;
    flex-grow: 1;
    margin-left: 0px;
    justify-content: space-between;
    width: 100%;
    transition: 0.6s ease;
}
.navLogo{
    opacity: 0;
    left: -10px;
    transition: all 250ms ease;
}
@media only screen and (max-width : 768px) {
    .testBar{
        margin: 0!important;
        width: 100%!important;
        z-index: 100;
    }
    
}