.nav{
    display: flex;
    align-items: center;

    width: 100%;
    background-color: white;

    padding-block: 2rem;
    padding-left: 6rem;

    box-shadow: rgb(25 45 100 / 8%) 0px 10px 30px 0px;
    z-index: 999;
    animation-duration: 350ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.logo{
    white-space: nowrap;
    font-size: 2rem;
}

.container{
    color: rgb(107, 107, 107);

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    padding-inline: 2rem;
}

.navMenu{
    display: flex;
    gap: 3rem;
}

.navMenu>li::after{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(107, 107, 107);
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(107, 107, 107);

    content: "";
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    transform: rotate(135deg);
    top: -2px;
    left: 2px;
    transition: transform 0.3s ease-out 0s;
    transform-origin: center center;
}

.navMenu>li:hover{
    color: black;
    cursor: pointer;
}

.signinBtn{
    color: #fff;
    margin-left: 2rem;
    background-color: rgb(92, 92, 228);
    padding: 0.8rem 1.5rem;
    border-radius: 4px;

    transition: all 150ms ease-in-out;
}

.bookBtn:hover{
    color: black;
}
.signinBtn:hover{
    box-shadow: 0px 0px 8px hsl(240, 60%, 65%);
}


@keyframes navSlide {
    0%{top: -10%; opacity: 0;}
    100%{top: 0; opacity: 1;}
}