.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    background-color: white;

    padding-block: 2rem;
    padding-left: 6rem;

    box-shadow: rgb(25 45 100 / 8%) 0px 10px 30px 0px;
    z-index: 999;
    animation-duration: 350ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.navBtns{
    display: flex;
    align-items: center;
}

.logo{
    white-space: nowrap;
    font-size: 2rem;
}

.btnContainer{
    margin-right: 3rem;
    width: max-content;
}
.signinBtn{
    color: #fff;
    margin-left: 2rem;
    background-color: rgb(233, 171, 2);
    padding: 0.5rem 1rem;
    border: 2px solid rgb(233, 171, 2);

    border-radius: 4px;

    transition: all 150ms ease-in-out;
}
.bookBtn{
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 150ms ease-in-out;

}
.bookBtn:hover{
    background-color: black;
    color: white;
}
.signinBtn:hover{
    box-shadow: 0px 0px 8px rgba(233, 171, 2, 0.5);
}
.hamburger{
    display: none;
}
@keyframes navSlide {
    0%{top: -10%; opacity: 0;}
    100%{top: 0; opacity: 1;}
}

@media screen and (max-width: 768px){
    .nav{
        padding-left: 2rem;
        padding-block: 1.5rem;
    }
    .btnContainer{
        margin-right: 1rem;
    }
    .navBtns{
        display: none;
    }
    .hamburger{
        display: block!important;
    }

    .logo{
        font-size: 1.5rem;
    }
}