@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.container{
    margin-top: 80px;
    min-height: 50vh;
    position: relative;
}
.anchors{
    width: calc(14vw + 30px);
    float: left;
    position: sticky;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #93A1B0;
    font-weight: bold;
}
.addImage{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.addImage>button{
    width: 3.8rem;
    height: 3.8rem;
}
.file{
    position: absolute;
    top: 0;
    cursor: none;
    pointer-events: none;
    opacity: 0;
    width: 0;
}
.anchors :hover{
    color: #40464d;
}
.anchors > li{
    margin-bottom: 30px;
}
.contact{
    float: right;
    position: sticky;
    top: 20px;
    right: 80px;
}
.contact > li{
    transition: all 250ms ease-in-out;
    margin-bottom: 25px;
}
.content{
    margin: auto;
    max-width: 760px;
}

.fb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icn{
    background-color: #40464d;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2.2rem;
    width: 2.2rem;
    padding: 0.3rem;
}
.fb :hover{
    cursor: pointer;
}

.fb>button{
    font-size: 1rem;
    aspect-ratio: 1;
    background-color: #40464d;
    border-radius: 50%;
    color: white;
}

.fb>button:hover{
    background-color: hsl(212, 9%, 40%);
}

.image1{
    position: relative;
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
.image1 > div{
    position: relative;
    margin: auto;
    width: min(45rem, 94vw);
    resize: both;
    overflow: auto;
}
.image1 > div > img{
    width: 100%;
    border-radius: 10px;
}

.editIcon{
    position: absolute!important;
    top: 0rem;
    right: 0;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    cursor: pointer;
    background-color: black!important;
}
.editIcon:hover{
    background-color: black;
    color: white;
}
.editIcon>label{
    cursor: pointer;
}

.openBtn{
    display: none;
}



@media only screen and (max-width : 500px) {
    .anchors{
        display: none;
    }
    .image1 > img{
        width: 80%;
    }
    
}
@media only screen and (max-width : 768px) {
    
    .title{
        font-size: 35px;
        width: 80%;
    }
    .contact{
        position: absolute;
        bottom: 0;
        z-index: 1000;
        
    }
    .contact>li{
        position: fixed;
        bottom: 0;
    }

    .contactMobile>li{
        bottom: 13.5rem!important;
    }
    
    .contactMobile>li + li{
        bottom: 9rem!important;
    }
    
    .contactMobile>li + li + li{
        bottom: 4.5rem!important;
    }

    .contactMobile>li + li + li+ li{
        bottom: 0!important;
    }

    .backdrop{
        position: absolute;
        width: 2rem;
        height: 2rem;
        bottom: 1rem!;
        right: 2rem;
        margin-bottom: 4rem;
        margin-left: 1rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    .openBtn{
        display: block;
    }


}



@media only screen and (max-width : 500px) {
    .author{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.5rem;
    }
}