.bar{
    top: 100px;
    left: 10px;
    right: 10px;
    position: absolute;
    /* width: 90%; */
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: 350ms ease;
    
}
.elements{
    transition: 0.5s;
}

.drawerHead{
    margin: auto;
}
.sidebarBtn{
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
    margin: auto;
    justify-content: flex-start;
}
.view2{
    display: none;
}
@media only screen and (max-width : 768px) {
    .view1{
        display : none;
    }
    .view2{
        display : block;
    }
    
}

.bottomNav{
    background-color: white;
    border-top: 2px solid black;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.view2Item{
    width: 100%;   
    display: flex;
    align-items: center;
    color: black;
}
.view2Icn{
    transition: 0.5s ease;
    text-align: center;
    width: 100%;
}
.view2Bar{
    position: absolute;
    /* border-radius: 10px; */
    left: 40vw;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 20vw;
    z-index: -1;
    transition: 0.4s ease;
}