.searchBar{
    display: flex;
    flex-grow: 1;
    padding-block: 0.5rem;
}
.searchBar_input_container{
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 424px;
    color: black;
}
.searchBar_input_container>input{
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.searchBar_input_container>input:focus{
    outline: none;
}
.searchBar_icon{
    display: grid;
    place-items: center;
    padding: 0.6rem 1rem;
    background-color: black;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    transition: background-color 250ms ease-in-out;
    min-width: 60px;
}
.searchBar_icon:hover{
    cursor: pointer;
    background-color: rgb(31, 31, 31);
}

@media only screen and (max-width : 768px) {
    .searchBar_input_container{
        display: none;
    }

    .searchBar_icon{
        background-color: white;
        padding-block: 0.3rem;
        padding-inline: 0;
    }
    .searchBar_icon>svg{
        --search_bar_size: 1.8rem;
        
        height: var(--search_bar_size);
        width: var(--search_bar_size);
    }
    .searchBar_icon>svg>circle, .searchBar_icon>svg>path{
        stroke: black!important;
    }
    
}